// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

// Our colors:
$white: #FFFFFF;
$light-gray: #F8F8F8;
$onyx: #424242;
$aqua: #86E7B8;

$color: #111;
$primary: #FFAB9D;
