
.display-none {
  visibility: none;
}

.display-none-booking {
  display: none;
}

.container h4 {
  padding-top: 20px;
  padding-bottom: 15px;
  margin-left: 21px;
}

// booking page container
.booking-page {
  display: flex;
  justify-content: space-around;
  margin: 0px 0px 50px 0px;
  height: 70vh;
}

// left card on bookings page

.calendar_card {
  margin: none;
  width: 350px;
  position: relative;
  border-radius: 5px;
  text-align: center;
  padding-top: 25px;
  margin: 0px 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.calendar_card h5 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

//calendar on left card

.flatpickr-calendar {
  margin-bottom: 30px;
  margin-left: 11px;
  box-shadow: none;
}

// div on left card with slots

#selected-timeslot-dates {
  margin-bottom: 30px;
  margin-left: 40px;
}

// open slots in left card

.timeslot-selection p {
  justify-content: center;
  border: 1px solid gray;
  width: 220px;
  margin: 15px;
  border-radius: 4px;
  padding: 8px 0px;
}

.timeslot-selection p:hover {
  background-color: #1BCB7F;
  border: none;
  color: white;
  transform: scale(1.04);
}

//right card on bookings page

.right_form {
  margin-left: 100px;
  text-align: center;
  padding-top: 25px;
  border-radius: 5px;
  width: 350px;
  margin: 0px 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

//selected times in right card

.checked_times p {
  justify-content: center;
  border: 1px solid gray;
  width: 220px;
  margin: 15px;
  border-radius: 4px;
  padding: 8px 0px;
  margin-left: 55px;
}

.booking-form.form-wrapper h5 {
  margin-bottom: 40px;
}

.booking-form.form-wrapper .btn.btn-flat {
  position: absolute;
  top: 340px;
  right: 55px;
  width: 220px;
}

.right_form h5 {
  margin-bottom: 40px;
}

