
.display-none {
  visibility: none;
}

// booking page container
.booking-page {
  display: flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
}

// left card on bookings page
.calendar_card {
  margin: none;
  width: 350px;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: center;
  padding-top: 25px;
}

//calendar on left card

.flatpickr-calendar {
  margin-bottom: 30px;
  margin-left: 20px;
  box-shadow: none;
}

// div on left card with slots

#selected-timeslot-dates {
  margin-bottom: 30px;
  margin-left: 60px;
}

// open slots in left card

.timeslot-selection p {
  justify-content: center;
  border: 1px solid gray;
  width: 200px;
  margin: 15px;
  border-radius: 4px;
  padding: 5px 0px;
}

.timeslot-selection p:hover {
  background-color: #1BCB7F;
  border: none;
  color: white;
  transform: scale(1.04);
}

//right form on bookings page

.right_form {
  margin-left: 100px;
  text-align: center;
  padding-top: 25px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 350px;
}

//selected times in right card

.checked_times p {
  justify-content: center;
  border: 1px solid gray;
  width: 200px;
  margin: 15px;
  border-radius: 4px;
  padding: 5px 0px;
  margin-left: 75px;
}

.booking-form.form-wrapper h5 {
  margin-bottom: 40px;
}

.booking-form.form-wrapper.btn.btn-flat {
  position: absolute;
  top: 100px;
}

