.info h3 {
  font-size: 1.5rem;
  margin-top: -24px;
  padding-bottom: 0px;
  padding-top: 30px;
}

.info p {
  margin-top: -4px;
  font-size: 15px;
  opacity: 0.7;
  color: #424242;
  margin-bottom: 10px;
}