.home-banner {
  background-size: cover;
  height: 55vh;
  color: #eee;
  text-align: center;
  // padding-top: 40vh;
  position: relative;
  top: 0;
  background-position: bottom 0px left 20px;
  display:block;
}

.home-banner h1 {
  color: white;
  position: absolute;
  top: 30%;
  // left: 25%;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}
