.home-banner {
  background-size: cover;
  height: 50vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  // position: fixed;
  top: 0;
  background-position: center center;
}

.home-banner h1 {
  color: white;
  position: absolute;
  top: 30%;
  left: 25%;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}
