.calendar {
  text-align: center;
  position: relative;
  border-width: 2px;
  border-color: black;

}

.form {
  border-style: 1px;
  border-color: gray;
  position: relative;
  background-color: red;
}
