.card-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  width: 320px;
  border-radius: 4px;
  color: $onyx;
}

.card-show .card-show-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-show .card-avatar {
  text-align: center;
}

.card-show-info .card-show-price {
  position: absolute;
  right: 26px;
  top: -11px;
  color: $onyx;
}
