
.container {
  width: 1900px;
  margin: 0 auto;
}


.content {
 display: flex;
 padding-top: 16px;
 padding-bottom: 16px;
}

// .map-container {
//   width: 200px;
// }


.upper-block {
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 30px;
}

#h2-index {
 margin-top: 30px;
}
