.footer {
background: $white;
color: $aqua;
padding: 0px 50px;
height: 60px;
}
.footer-social {
  display: flex;
  justify-content: space-between;
}
.footer-links {
  display: flex;
  text-align: left;
}
.footer-links a {
  color: $aqua;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  text-align: left;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.footer-copyright {
  text-align: right;
  justify-content: space-between;
}
