.circle-display {
display: flex;
justify-content: space-between;
}


#circle {
      width: 200px;
      height: 200px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      background: $aqua;
      display: inline-block;
      margin-left: 64px;
    }
