#map {
  height: 100vh;
  position: sticky;
  top: 16px;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  
}
