// .navbar-home {
//   position: absolute;
//   width: 100%;
//   background: transparent;
//   box-shadow: none;
//   .navbar-wagon-link {
//     color: white;
//     font-weight: bold;
//   }
// }

.navbar-lewagon {
  // [...]
  justify-content: space-between;
  background-color: $onyx;
  transition: 0.5s background-color ease;
  color: $aqua;
}

.navbar-lewagon-white {
  background-color: white;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
  
.navbar-light .navbar-nav .nav-link {
  color: $aqua;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(102, 192, 149);
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: none;
  color: rgb(102, 192, 149);
}
