$max-tab-count: 5;
$tab-wrap-border-radius: 4px;
.tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: $tab-wrap-border-radius;
  max-width: 65%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #ffffff;
  margin-left: 40px;
  width: 720px;
  height: 620px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
}

.tab {
  display: none;
  @for $i from 1 through $max-tab-count {
    &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
      opacity: 1;
      transition: 0.5s opacity ease-in, 0.8s transform ease;
      margin-top: 60px;
      top: 0;
      z-index: 100;
      transform: translateY(0px);
      text-shadow: 0 0 0;
    }
  }
  &:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
  }
  &:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:checked + label {
    background-color: $white;
    // box-shadow: 0 -1px 0 #fff inset;
    border-bottom: 3px solid $aqua;
    opacity: 1;
    cursor: default;
  }
  + label {
    // box-shadow: 0 -1px 0 #eee inset;
    border-radius: $tab-wrap-border-radius;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: $onyx;
    flex-grow: 3;
    text-align: center;
    background-color: $white;
    user-select: none;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
    border-bottom: 4px solid transparent;
    opacity: .5;
    &:hover {
      background-color: #f9f9f9;
      box-shadow: 0 1px 0 #f4f4f4 inset;
    }
  }
  &__content {
    padding: 10px 25px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: $tab-wrap-border-radius;
    color: $onyx;
  }

}
.form-wrapper {
  position: relative
}

h4 {
  font-size: 1.5rem;
  padding-top: 40px;
  padding-bottom: 32px;
}

.review {
  padding-top: 12px;
  position: relative;
  display: flex;
  opacity: 0.8;
  font-style: italic;
}

.review-student {
  margin-bottom: -24px;
  padding-top: 8px;
}

.review-student p {
  opacity: 1;
}
.video {
  margin-left: 56px;
  margin-right: 56px;
  margin-top: 12px;
}

.content-info {
  width: 400px;
  margin-bottom: 70px;
  margin-top: 10px;
  margin-left: 155px;
}
