// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body {
  height: 100%;
  margin: 0;
}

#page-container {
  background-color: white;
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 70px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}
