.alert-dashboard {
  //position: fixed;
  // bottom: 16px;
  // right: 16px;
  z-index: 1000;
}

#avatar-dashboard {
  background-image: url('Leon.jpeg');
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  border: white 3px solid;
}

.avatar-dashboard-align {
  position: absolute;
  top: -75px;
  left: 50%;
  margin-left: -60px;
}

.banner-dashboard {
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #eee;
  height: 13vh;
  padding: 0px;
  margin-bottom: 20px;
  text-align: center;
  top: 0;
}

.btn-appointment {
  background: $white;
  border: 1px solid gray;
  border-radius: 4px;
  color: gray;
  display: block;
  margin-bottom: 10px;
  margin-left: 22px;
  margin-top: 10px;
  padding: 6px 10px;
  transition: opacity 0.3s ease;
  width: 80%;
  //display: inline-block;
  // opacity: 0.6;
}

.btn-appointment:hover {
  opacity: 1;
  border: 2px solid $aqua;
  color: gray;
}

.btn-appointment .active {
  color: #86E7B8;
  border: 2px solid $aqua;
  color: $aqua;
}

.btn-book-next {
  color: $white;
  padding: 12px 40px;
  border-radius: 15px;
  background: $aqua;
  transition: background 0.3s ease;
  width: 100%;
}

.btn-book-next-align {
  top: 10px;
  left: 50%;
}

.btn-book-next:hover {
  background: #1BCB7F;
  color: $white;
}

.btn-book-next-warning {
  color: $white;
  padding: 12px 40px;
  border-radius: 5px;
  background: #1BCB7F;
  transition: background 0.3s ease;
  width: 100%;
}

.btn-book-next-warning-align {
  top: 10px;
  left: 50%;
}

.card-product-dashboard {
  align-items: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: $onyx;
  display: block;
  height: auto;
  margin-top: 75px;
  margin-bottom: 25px;
  max-width: 1000px;
  padding: 0px;
  padding-bottom: 10px;
  position: relative;
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  hr {
    width: 90%;
  }
}

.card-product-image {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}



.card-product-image p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.container-tabs {
  background: transparent;
  margin-top: 75px;
  height: 100%;
  width: 100%;
}

.content {
  background: white;
  min-height: 100%;
  min-width: 100%;
}

.flash-dashboard {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  // margin: 8px;
}

.flash-success-dashboard {
  border: 2px solid #1BCB7F;
}



.teacher-information {
  display: flex;
  width: 100%;
  height: 50%;
  border-bottom: 0.5px solid rgba(0,0,0,0.05);
}

.teacher-information-image {
  width: 350px;
  margin: 30px 20px;
  background-size: cover;
  border-radius: 5px;
}

.teacher-information-text {
  display: flex;
  text-align: left;
  align-items: center;
  flex-grow: 1;
  padding: 0 3% 0 3%;
}

.homework {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0px 60px;
  h6 {
    padding-bottom: 15px 0;
    margin-top: 0;
  }
}

.homework-information {
  display: flex;
  width: 100%;
  background-size: cover;
    img {
      width: 200px;
    }
}

.homework-information-image {
  width: 650px;
  background-size: cover;
}


.homework-information-text {
  padding: 3%;
  flex-grow: 1;
}

.timeslots {
  height: 64px;
  overflow-y: scroll;

.btn-book-next-download {
  color: #1BCB7F;
  padding: 8px 30px;
  border-radius: 5px;
  background: $white;
  transition: background 0.3s ease;
  width: 100%;

}

.carousel-inner {
  width: 200px !important;
}

.w {
  width: 250px;
}
